@use "./variables" as vars;

:root {
  --bg-color: #{vars.$light-bg};
  --text-color: #{vars.$light-text};
  --font: 'Poppins', sans-serif;
  --color-accent: #{vars.$light-accent};
}

[data-theme="dark"] {
  --bg-color: #{vars.$dark-bg};
  --text-color: #{vars.$dark-text};
  --color-accent: #{vars.$dark-accent};
}
